{% extends "base\layout.html" %}
{% block title %}
<strong>SPECIALITIES</strong>
{% endblock %}

{% block content %}
    <!--Specialities-->
    <div class="row" id="specialitiespage">
        <div class="container">
        <div class="row">
            <div class="col-12">
            <h2 style="font-family: Arial;">specialities</h2>
            <hr width="80%"> 
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">specialities</h5>
                <p class="card-text">This is a longer card with supporting text below as a 
                    natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            </div>
            <div class="col-12 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">specialities</h5>
                <p class="card-text">This is a longer card with supporting text below as a 
                    natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            </div>
            <div class="col-12 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">specialities</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to 
                    additional content. This content is a little bit longer.</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>    
{% endblock %}