{% extend "layout.html" %}
{% block title %}
<strong>Academy</strong>
{% block %}

{% block content %}
    <!--ACADEMY-->
    <div class="row" id="academypage">
        <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <h2 style="font-family: Arial;">ACADEMY</h2>
                    <hr width="80%">
                </div>
                </div>
            </div>
        </div>
            <div class="row" id="Academyimg">
            <div class="col-12 col-md-5">
                <!--image-->
                <div class="card bg-dark text-white">
                <img src="C:\Users\P.O.M.G\Desktop\Final Project CS50X\Templates\static\old-vintage-compass-on-ancient-648087.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
                </div>
            </div>
            <div class="col-12 col-md-4" id="academydiscription">
                <p class="text-align-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="col-0 col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}