{% extend "layout.html" %}
{% block title %}
<strong>Home</strong>
{% endblock %}
        <!--A Bio-->
        <div class="row" id="biopage">
            <div class="container">
                <!--First row OF Bio-->
                <div class="row">
                <div class="col-12">
                    <h2 style="font-family: Arial;">About Me</h2>
                    <hr width="80%"> 
                </div>
                </div>
                <div class="row">
    
                    <div class="col-12 col-md-6 width-md-100%"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sSqNgsZ9RA8" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                    </div>
                    <div class="col-12 col-md-6" id="aboutparagraph">
                    <div class="row">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec sed pellentesque velit. Fusce finibus ut dolor a sodales.
                    Praesent scelerisque leo vel nibh fermentum elementum. 
                    Etiam id nisi et tortor sollicitudin pellentesque non at metus.
                    Maecenas sed dapibus tortor. Proin ornare luctus ex. 
                    Ut lacinia augue vel dolor varius finibus. Integer diam diam,
                    mollis nec felis vel, luctus ornare metus. 
                    Fusce dolor dolor, elementum nec tincidunt sit amet, commodo sed tortor.
                    </p>
                </div>
                    </div>                    
                </div>
            </div>
        </div>
{% block content %}